<p>post-new.hbs</p>
{{#if newPostForm}}
<div class="new-post-container container">
    <h1>New Post</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          {{input class="form-control" value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="body">Body</label>
          {{input class="form-control" value=body id="body"}}
        </div>

        <div class="form-group">
          <label for="date">Date</label>
          {{input class="form-control" value=date id="date"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input class="form-control" value=image id="image"}}
        </div>

        <button class="btn btn-success" {{action 'save'}}>Save</button>
        <button class="btn btn-primary" {{action 'newPostFormHide'}}>JK, NVM</button>
      </form>
    </div>
</div>
{{else}}
  <button type="button" class="btn btn-success" {{action 'newPostFormShow'}}>New Post</button>
{{/if}}
