<div class="col-md-6 col-md-offset-3 body-col">
  <h1>{{model.title}}</h1>
  <h4>{{model.author}}</h4>
  <h5>{{model.date}}</h5>
  <div class="image-container">
    <img class="post-image" src={{model.image}} alt={{model.title}} />
  </div>


  <p>{{model.body}}</p>
  <hr>
  <button class="btn btn-danger" {{action 'delete' model}}>Delete</button>

  {{post-update post=model updatePost="updatePost"}}

</div>
